# Some of the content of this file has been edited by Metaswitch, in the time
# period from May 2013 to the present time.

build.mak
cc-auto.mak
os-auto.mak
config.log
config.status
bin/
build/
lib/
output/
*_auto.h
sip_autoconf.h
*~